.app-container {
    background-image: url('/Public/Perlin1.png');
    background-color: #30BCED;
    color: #fffaff;
    min-height: 100vh;
    padding: 3px;
    min-width: 100vw;
    
    background-size: cover;
    background-repeat: no-repeat;

    
}

.top-bar {
    background-color: #0000009c;

    min-width: 100vw;
    min-height: 25px;
}