.TrackerContainer {
    background-color: rgba(76, 185, 199, 0.686);
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


.Summary {
    color: black;
}

.Project {
    color: black;
}

.TimeStart {
    color: black;
}

.TimeEnd {
    color: black;
}

.Date {
    color: black;
}


input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
}

#dateInput {
    color: black;
}