.app {
    display: flex;
}

* {
    font-family: "Inter";
}

html {
    height: 100%;
    color: white;
    font-family: 'Inter';
}

body {
    background-image: url("../assets/background.png"),
        linear-gradient(to bottom, #2b88aa, #3d90ae, #094baf);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter';
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.password-input {
    border-radius: 5px;
}

.submit-button {
    background-color: #E78B13;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
}

.text-shadow {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}