.password-input {
    border-radius: 5px;
}

.submit-button {
    background-color: #E78B13;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
}

.text-shadow {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

.label {
    position: relative;
    display: flex;
    align-items: center;
}

.password-icon {
    cursor: pointer;
}