@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.dialog{
  background-image: url(../../assets/background.png),
  linear-gradient(
    to bottom,
    rgba(48, 188, 237, 100%),
    rgba(63, 141, 169, 61.33%),
    rgba(0, 102, 255, 25%)
  );
    background-size: cover;
    margin: 0;

}
