@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
* {
  font-family: "Inter", sans-serif;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-attachment: fixed;
  background-color: #1A1A1A;  
}

body {
  margin: 0;
}

html,
body,
.app-bg {
  background-image: url(./timetracker/assets/background.png),
    linear-gradient(
      to bottom,
      rgba(48, 188, 237, 100%),
      rgba(63, 141, 169, 61.33%),
      rgba(0, 102, 255, 25%)
    );

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app-bg {
  min-height: calc(100vh - 8rem);
}

.greeting-text-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}