@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
* {
  font-family: "Inter";
}

.create-account {
  background-image: linear-gradient(
      to bottom,
      rgba(48, 188, 237, 100%),
      rgba(63, 141, 169, 61.33%),
      rgba(0, 102, 255, 25%)
    ),
    url(../img/background.png);
  background-size: cover;
}

.create-account--greeting {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.create-account--form-button {
  width: 242px;
  height: 50px;
  border-radius: 6px;
  margin-top: 32px;
}
